*.o
*.lo
quirc-demo
quirc-scanner
qrtest
inspect
libquirc.a
libquirc.so*
libquirc.wasm
.*.swp
*~
.DS_Store
.idea
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/*.js
/*.d.ts
/*.js.txt
/*.map
/dist
